td.arrow-cell .club-cont {
    display: flex;
    gap: 1rem;
}
.players .club-cont img {
    height: 2.5rem;
    object-fit: contain;
}
.clubs.players  td.arrow-cell .club-cont  img  {
    height: 1.8rem;
    object-fit: cover;
}
.players  td span, .players td.arrow-cell p {
    font-family: lato, sans-serif;
}