
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PremierSans-Heavy, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
:root {
    --header-color: #76766f;
    --navmain-color: #37003c;
    --navtext-color: #fff;
    --borderbottom-color: rgb(212, 212, 212);
    --hoverbackground-color: rgb(241, 240, 240);
    --dropdown-color:  #963cff;
}

.broadcasters {
    width: 86rem;
    max-width: 100%;
    color: var(--navmain-color);
}
.broadcasters h3 {
    font-size: 1.3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.broadcaster-cont {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.broadcaster {
    border: 1px solid var(--borderbottom-color);
    min-height: 6rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 0.5rem;
    border-radius: 5px;
}
.broadcaster img{
    height: 2rem;
    object-fit: contain;
}
.broadcaster span {
    text-align: center;
    font-size: 0.7rem;
    color: var(--navmain-color);
}
.broadcaster span i {
    font-size: 0.5rem;
}